.primer{
  color:  blue;
  font-size: 35px;
}

.caja{
  border-style: dotted;
  border-color: yellow;
  border-radius: 20px;
  padding: 50px;
  margin: 25px;
}




.primerisima{
  color: gray;
  font-family: monospace;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  padding: 50px;
}
