.primer{
  color:  blue;
  font-size: 35px;
}

.caja{
  border-style: dotted;
  border-color: yellow;
  border-radius: 20px;
  padding: 50px;
  margin: 25px;
}




.primerisima{
  color: red;
  font-family: monospace;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  padding: 50px;
}

.cajota{
  border-style: solid;
  border-color: red;
  border-radius: 50px;
  margin-left: 75px;
  margin-right: 75px;
}

.segunda{
  text-align: right;
  color: red;
  font-size: 25px;
  font-style: oblique;
}
